@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-image: url(../images/bg-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

article .first-box {
  background-color: #1d2c67;
  width: 55%;
  border-radius: 10px 100px 10px 10px;
  padding: 40px 70px 40px 40px;
  margin-bottom: 5%;
}

article .first-box .actions {
  display: flex;
  margin-top: 13%;
}

article .first-box .actions .action-button {
  margin-right: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6%;
  background-color: #0c122c;
  border-radius: 10px;
}

article .second-box {
  background-color: #1d2c67;
  color: #fff;
  width: 70%;
  padding: 7%;
  border-radius: 10px;
}

article .second-box .info-para {
  opacity: 0.8;
  display: flex;
  justify-content: center;
}

article .second-box .loadingBar {
  width: 100%;
  height: 20px;
  background-color: #0c122c;
  border-radius: 50px;
  margin: 7% 0 5%;
}

article .second-box .loadingBar .insideBar {
  width: 81.5%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border: 2px solid #0c122c;
}

article .second-box .loadingBar .insideBar .ball {
  width: 15px;
  height: 15px;
  background-color: #fff;
  float: right;
  border-radius: 100%;
}

article .second-box .gb {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 900px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: #0c122c;
  }
  article {
    display: flex;
    flex-direction: row;
  }
  article .first-box {
    width: 13%;
  }
  article .second-box {
    width: 25%;
    height: 10%;
    padding: 2%;
    margin: 0 0 3% 1.5%;
  }
}
