@import "config";

// Mobile 375px
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-image: url(../images/bg-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  .first-box {
    background-color: $darkblue;
    width: 55%;
    border-radius: 10px 100px 10px 10px;
    padding: 40px 70px 40px 40px;
    margin-bottom: 5%;
    .actions {
      display: flex;
      margin-top: 13%;
      .action-button {
        margin-right: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6%;
        background-color: $verydarkblue;
        border-radius: 10px;
      }
    }
  }

  .second-box {
    background-color: $darkblue;
    color: #fff;
    width: 70%;
    padding: 7%;
    border-radius: 10px;
    .info-para {
      opacity: 0.8;
      display: flex;
      justify-content: center;
    }
    .loadingBar {
      width: 100%;
      height: 20px;
      background-color: $verydarkblue;
      border-radius: 50px;
      margin: 7% 0 5%;
      .insideBar {
        width: 81.5%;
        height: 15px;
        border-radius: 10px;
        background: linear-gradient(to right, $gradient, $gradient2);
        border: 2px solid $verydarkblue;
        .ball {
          width: 15px;
          height: 15px;
          background-color: #fff;
          float: right;
          border-radius: 100%;
        }
      }
    }
    .gb {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 900px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: $verydarkblue;
  }
  article {
    display: flex;
    flex-direction: row;
    .first-box {
      width: 13%;
    }
    .second-box {
      width: 25%;
      height: 10%;
      padding: 2%;
      margin: 0 0 3% 1.5%;
    }
  }
}
